<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="admin-container">
        <h2>Admin Panel</h2>
        <div class="game-statistics">
            <h3>Game Statistics</h3>
            <p>Session ID: <span id="session-id">None</span></p>
            <p>Active Players: <span id="active-players">0</span></p>
            <p>Game Status: <span id="game-status">Not Started</span></p>
        </div>
    </div>
    <div>
        <h1>Admin Dashboard</h1>
        <div id="user-list"></div>
        <button id="new-session-btn">Generate New Session</button>
        <button id="start-game-btn" >Start Game</button>
    </div>
    <script src="{{ url_for('static', filename='js/admin_script.js') }}"></script>
</body>
</html>
