<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo Game - User Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header_container">
        <h1 class="header">Steven's Baby Showers Bingo!</h1>
        <h3>Googling isn't allowed!</h3>
    </div>
    <div class="container">
        <form id="registration-form">
            <input type="text" id="session-id" name="session_id" placeholder="Enter game session ID" />
            <input type="text" id="username" name="username" placeholder="Enter your username" />
            <button type="submit" class="btnRegister">Register</button>
        </form>
        <div id="bingo-board-container"></div>
        <div id="bing-board"></div>
    </div>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" crossorigin="anonymous"></script>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

